VITE_API_BASE_URL=http://localhost:5000/api/v1


Naukri Profile Recommendations: https://www.codingninjas.com/careercamp/naukri-profile-highlighting-programme/

 

Naukri Profile Video Suggestions: https://youtu.be/TLLWlKW2qJs

 

LinkedIn Recommendations - https://www.notion.so/placementsbootcamp/Linkedin-Profile-Enhancements-35717d8e773e4abbb2ac14a92088a063

 

Thanks for joining the session - Hope the session helped!

 

Stay connected — follow me on LinkedIn: https://www.linkedin.com/in/rohit-agarwal-ops/